/* App.css */
.app-wrapper {
  min-height: 100vh;
  background-color: #f5f6fa;
  width: 100%;
}

.main-content {
  max-width: 90vw; /* Adjust to your preference */
  margin: 0 auto;
  padding: 1rem;
}